body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}
#OrderCounter {
    border: 2px solid black;
    margin-top: 5px;
    width: 500px;
    height: 35px;
    text-align: center;
    background-color: white;
}
#OrderCounter h2{
    margin-top: 0px;
}

#Container{
    display: block;
}

#Menu{
    border-style: solid;
    margin-top: 10px;
    min-height: 60vh;
    background-color: white;
    
}

.MenuItems{
    display: flex;
}

.MenuItems p{
    margin-left: 10px;
    margin-right: 15px;

}
.MenuItems input[type="number"]{
    width: 30px; 
    height: 20px;
    margin-top: 8px;
}

#updateOrderButton {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

#updateOrderButton:hover {
    background-color: darkblue;
}
#confirmOrderButton{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
#confirmOrderButton:hover {
    background-color: rgba(3, 3, 117, 0.767);
}

#CancelOrderButton{
    background-color: rgb(157, 74, 2);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
#CancelOrderButton:hover {
    background-color: rgba(54, 54, 56, 0.767);
}

#OrderDetails {
    border: 1px solid black;
    margin-top: 10px;
    padding: 10px;
    min-height: 50px;
    text-align: center;
    background-color: white;
}

.OrderText:hover{
    color: red;
}
